[general]
namespace = default
provider = kubernetes
# provider = docker

[jenkins]
image=kumarpraveen/centos-jenkins:latest
# port on the node where Jenkins over HTTP will be accessible - valid range
# 30000-32667
NODE_PORT=30001
